<?xml version='1.0' encoding='utf-8'?>
<widget id="io.scrollback.app" version="0.0.1" android-versionCode="133" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <name>Scrollback</name>
    <description>
        Scrollback keeps you in touch with your communities wherever you are.
    </description>
    <author email="support@scrollback.io" href="http://scrollback.io">
        Scrollback
    </author>
    <content src="index.html" />  <!-- change to https://stage.scrollback.io/me?platform=android -->
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-installLocation" value="preferExternal" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="com.phonegap.plugins.PushPlugin" />
    <gap:plugin name="org.apache.cordova.file" version="1.3.1" />
    <gap:plugin name="hu.dpal.phonegap.plugins.uniquedeviceid" version="1.2.0" />
    <gap:plugin name="com.oktala.plugins.launchmyapp" version="3.1.2">
        <param name="URL_SCHEME" value="https" />
        <param name="HTTP_HOST" value="scrollback.io" />
        <param name="HTTP_PATHPREFIX" value="" />
        <param name="HTTPS_HOST" value="scrollback.io" />
        <param name="HTTPS_PATHPREFIX" value="" />
    </gap:plugin>
    <icon src="www/res/icon/icon.png" />
    <icon platform="android" density="mdpi" src="www/res/icon/android/icon-48-mdpi.png" />
    <icon platform="android" density="hdpi" src="www/res/icon/android/icon-72-hdpi.png" />
    <icon platform="android" density="xhdpi" src="www/res/icon/android/icon-96-xhdpi.png" />
    <icon platform="android" density="xxhdpi" src="www/res/icon/android/icon-144-xxhdpi.png" />
    <icon platform="android" density="xxxhdpi" src="www/res/icon/android/icon-192-xxxhdpi.png" />
    <!--<icon gap:platform="blackberry" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icon/blackberry/icon-80.png" />
    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />
    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />-->
    <access origin="*" />
    <feature name="Custom URL scheme">
        <param name="id" value="com.oktala.plugins.launchmyapp" />
        <param name="url" value="https://github.com/joaomak/LaunchMyApp-PhoneGap-Plugin.git#:." />
    </feature>
    <feature name="PushPlugin">
        <param name="id" value="com.phonegap.plugins.PushPlugin" />
        <param name="url" value="https://github.com/phonegap-build/PushPlugin.git#:." />
    </feature>
    <feature name="UniqueDeviceID">
        <param name="id" value="hu.dpal.phonegap.plugins.UniqueDeviceID" />
        <param name="url" value="https://github.com/Paldom/UniqueDeviceID.git#:." />
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device" />
    </feature>
    <feature name="File">
        <param name="id" value="org.apache.cordova.file" />
    </feature>
    <feature name="InAppBrowser">
        <param name="id" value="org.apache.cordova.inappbrowser" />
    </feature>
    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information" />
    </feature>
</widget>
